<ion-content>
  <ion-slides autoplay="3000" effect="fade" class="swiper-no-swiping" loop="true" *ngIf="images && images.length">
    <ion-slide *ngFor="let image of images">
      <img [src]="image">
    </ion-slide>
  </ion-slides>
  <ion-fab bottom right>
    <button large ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="addPhoto()"><ion-icon name="camera"></ion-icon></button>
      <button ion-fab (click)="openModal()"><ion-icon name="barcode"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
